= form_for @vote do |f|
  .row
    .btn.btn.span12{onclick: 'window.location = window.location'} Skip this combination

  .row{style: "margin-bottom:0;padding-bottom:0;"}
    .span12{style: "text-align: left;margin-bottom:0;"}
      %h3{style: "margin-bottom:0;padding-bottom:0;"}
        Drink 1:
        = @vote.drink1.name
  .row{style: "padding:0;margin:0;"}
    .span12{style: "text-align: center;padding:0;margin:0;"}
      %strong{style: "padding:0;margin:0;"}
        vs.
  .row{style: "margin-top:0;padding-top:0;"}
    .span12{style: "text-align: right"}
      %h3{style: "margin-top:0;padding-top:0;"}
        Drink 2:
        = @vote.drink2.name

  = f.hidden_field :drink1_id
  = f.hidden_field :drink2_id
  - %w(best_presentation most_drinkable most_adventurous).each do |category|
    .row
      .span12{id: category}
    .row
      %label{style:"text-align: center"}= category.titleize
      .switch.switch-three.candy.blue
        %input{id: "drink1_#{category}", :name => "vote[#{category}]", :type => "radio", :value => 0}
        %label{:for => "drink1_#{category}", :onclick => ""}
          Drink 1
        %input{id: "no_vote_#{category}", :checked => "", :name => "vote[#{category}]", :type => "radio", :value => ""}
        %label{:for => "no_vote_#{category}", :onclick => ""} No Vote
        %input{id: "drink2_#{category}", :name => "vote[#{category}]", :type => "radio", :value => 1}
        %label{:for => "drink2_#{category}", :onclick => ""}
          Drink 2
        %span.slide-button

  .row
    .span12
      &nbsp;

  .row
    = f.submit 'Vote', {class: "btn btn-success btn-large span12"}
