<p id="notice"><%= notice %></p>

<p>
  <b>Drink1:</b>
  <%= @vote.drink1 %>
</p>

<p>
  <b>Drink2:</b>
  <%= @vote.drink2 %>
</p>

<p>
  <b>Category:</b>
  <%= @vote.category %>
</p>

<p>
  <b>Answer:</b>
  <%= @vote.answer %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
